@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&family=Splash&display=swap');}

:root{


    --earth-yellow: #D4A63ff;
}


*{

margin: 0;
padding: 0;

}

body{

	background-color: linen; /*var(--earth-yellow);*/
	font-family: sans-serif;
}


.footer {
  /*position: fixed;*/
  bottom: 0;
  height: 150px;
  background-image: linear-gradient(/*45deg,*/ to right, #FFB562, #F87474); 

  width: 100%;

}

.footer p{
   color: green;
   text-align: center;
   font-size: 40px;
   text-transform: uppercase;

}

.header{ /*position: fixed;*/
top:50;
height: 70px;
background-color: #607D8B;
width: 100%;
overflow: hidden; }


.header a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.header p{
     color:red ;
     text-align: left;
     font-size: 20px;
}

ul{
 list-style: none;
display: flex;
direction: row;
gap:10px; }




.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: #04AA6D;
  color: white;
}




.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

  .topnav {
  background-color: #333;
  overflow: hidden;
}




 h1{
 	font-family: Splash;
 }

 .body img{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
 }



 #back-to-top {
   position: fixed;
   bottom: em;
   right: 3em;
   background-color: rgba(255, 255, 255, .9);
   color: #313943;
   border: none;
   border-radius: 5px;
   padding: 1em;
   text-transform: uppercase;
   cursor: pointer;
   font-weight: 700;
   box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
   transition: all .3s ease-in-out;
   display: inline-block;
   opacity: 0;
   text-decoration: none;
   font-size: .75em;

 }


 #back-to-top:hover{
   
   background-color: #fff;
   padding: 1em em;

 }

 #back-to-top.visible {opacity: 1;}



 ul li a{
 list-style: none;
display: flex;
direction: row;
gap:10px;

text-decoration: none;
color: whitesmoke;
text-transform: uppercase;
font-family: verdana;
 }



.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.header { margin: 0px;
          background-color: #ddd;
          text-align: center;
          padding: 30px;
        }

.footer { margin: 0px;
          padding: 25px;
          background-color: #123;
          text-align:center;
        }